html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: minmax(75px auto) 1fr 75px;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer" 
}
.header {
    align-items: center;
    background-color: whitesmoke;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    min-width: 100%;
    padding: 2em;
}
.title {
    font-size: 20px;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}
.list-item {
    margin-left: 1rem;
    font-size: 18px;
}
.main {
    display: grid;
    grid-template-areas:
    "mega-title mega-title mega-title"
    "introductie introductie skills"
    "contact contact skills"
    "portfolio portfolio portfolio";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-area: main;
    margin: 1rem;
}
.block{
    box-shadow: 5px 5px 5px whitesmoke;
    background-color: white;
    padding: 2rem;
    margin: 1rem;
}
.subtitle {
    font-size: 25px;
    margin: 1rem;
}
.line {
    margin: 1rem;
    background-color: black;
    height: 5px;
    width: 5vw; 
    border: none;
}
.tekst {
    margin: 1rem;
}
.mega-title {
    padding: 12rem 3rem;
    font-size: 10vw;
    grid-area: mega-title;
}
.introductie {
    grid-area: introductie;
}
.portfolio {
    grid-area: portfolio;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto);
    grid-template-rows: repeat(auto);
    grid-template-areas: 
    "portfolio-item portfolio-item portfolio-item"
    "portfolio-item portfolio-item portfolio-item"
    "portfolio-item portfolio-item portfolio-item"
    ;
}
.portfolio-item {
    grid-area: portfolio-item;
}

.skills {
    grid-area: skills;
}
.contact {
    grid-area: contact;
}
.footer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    grid-area: footer;
}