
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    min-height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0;
    grid-template-areas:
    "header header header header"
    "container container container container"
}
.header {
    align-items: center;
    justify-content: space-between;
    background-color: green;
    display: flex;
    grid-area: header;
}
.navigation

.nav-list {
    display: flex;
    list-style: none;
}
.container {
    background-color: red;
    grid-area: container;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: auto 80px;
    grid-template-areas:
    "sidebar mid-section mid-section mid-section"
    "sidebar footer footer footer";  
}
.sidebar {
    background-color: burlywood;
    grid-area: sidebar;
    grid-column: 1 / 2 ;
    grid-row: 1 / 3 ;
    width: 25vw;
}
.mid-section {
    background-color: wheat;
    display: grid;
    grid-area: mid-section;
    grid-column: 2 / 3 ;
    grid-row: 1 / 2 ;
    grid-template-areas: 
    "mid-section-mid mid-section-mid sidebar-right";
}

.mid-section .sidebar {
    grid-area: sidebar-right;
    grid-column: 2 / 3 ;
    width: 25vw;
}
.footer {
    background-color: brown;
    grid-area: footer;
    grid-column: 2 / 3 ;
    grid-row: 2 / 3 ;
    min-height: 80px;
}

h1 {
    background-color: red;
}

h2 {
    text-align: center;
    background-color: yellow;
}

/*grid mobile devices*/

@media (min-width: 0px) and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .mid-section {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        width: 100vw;
    }
    .mid-section .sidebar {
        width: 100vw;
    }
}   


/*grid low resolution tablets (landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
    //CSS
}

/*grid tablets (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    //CSS
    
  }
/*grid tablets (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
  
    //CSS
    
  }

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  
    //CSS
    
  }

 /* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  
    //CSS
    
  } 
  
